name: Docker Image CI

permissions:
  id-token: write
  contents: read
  checks: write

on:
  workflow_dispatch:
  schedule:
  # each first day of month
  - cron: "0 0 1 * *"
  push:
  pull_request:

jobs:

  build:

    runs-on: ubuntu-latest

    name: Install Bats and bats libs
    steps:
    - uses: actions/checkout@v6.0.1
    - name: Setup Bats and bats libs
      id: setup-bats
      uses: bats-core/bats-action@3.0.1
    - name: entrypoint tests
      shell: bash
      env:
       BATS_LIB_PATH: ${{ steps.setup-bats.outputs.lib-path }}
       TERM: xterm
      run: bats tests/virtualavr-device/

    - name: Set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: 'adopt'
        cache: maven
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    # Needed to run the tcp-mode test
    - name: Install socat
      run: sudo apt-get update && sudo apt-get install -y socat

    # Run your test script
    - name: Run All Tests
      run: ./run-tests.sh

    - name: Test Report
      uses: dorny/test-reporter@v2
      if: (success() || failure()) # run this step even if previous step failed
      with:
        name: Test report
        path: demo/java/sketchtest/target/surefire-reports/*.xml,demo/python/*/test-results/pytest.xml,demo/python-gherkin/test-results/TESTS-*_behavior.xml
        reporter: java-junit
